h2 {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}
#FenInDiv {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  left: 60px;
}
#fenIn {
  width: 480px;
  left: 60px;
}
